.event-btn{
    height: 20px;
    padding: 10px;
    background-color: #FA9017;
    color: white;
    display: inline-block;
    text-align: center;
    
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}